<!DOCTYPE html>
<html
class="dark"
  lang="en"
  th:fragment="parent(content,title)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-th-replace="${title}">Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.js"></script>
    <link rel="stylesheet" data-th-href="@{/CSS/output.css}" />
  </head>
  <body>
    <div data-th-replace="~{header :: navbar}"></div>
    <div class="p-4">
      <section data-th-replace="${content}"></section>
    </div>

    <div class="p-4">
      <footer>this is a footer</footer>
    </div>
  </body>
</html>
