<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{/CSS/output.css}" />
  </head>
  <body>
    <div class="container text-2xl">
  <h1 class="text-2xl font-bold  color:red" th:text="${name}"></h1>
      <p class="text-2xl font-bold" >
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque ullam
        nulla dolorum laudantium, inventore totam voluptates fugit itaque autem
        quod dolores voluptatem eius at cum ducimus necessitatibus quibusdam
        dolor rerum?
      </p>
      <p >
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque ullam
        nulla dolorum laudantium, inventore totam voluptates fugit itaque autem
        quod dolores voluptatem eius at cum ducimus necessitatibus quibusdam
        dolor rerum?
      </p>
    </div>
  </body>
</html>
